body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    background-image: url('.');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #ccc;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px #ccc;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.social-links {
    text-align: right;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.social-links a {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
}
